.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



#navBar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
}

img {
  max-height: 359px;
  max-width: 288px;
}

/* flext-container syles the div parent and the individual ul */
.flex-container {
  /*flex layout context for Home component and Game component*/
  display: flex;

  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

 /* flex-item styles the individual li inside of the ul */
.flex-item {
  padding: 5px;
  margin-top: 10px;
  line-height: 10px;
  max-width: 308px;
  min-width: 308px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  align-items: center;
}